.SeeHighScoresTray {
    width: 200px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    background-color: orange;
    left: 550px;
    top: 490px;
    position: absolute;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
    color: blue;
}